<div>

    <mat-toolbar color="primary" class="flex-container">

        <button mat-button *ngIf="auth.IsAutenticado" routerLink="clientes">Clientes</button>

        <button mat-button *ngIf="auth.IsAutenticado" routerLink="crear-cliente">Nuevo Cliente</button>

        <button mat-button routerLink="contact">Contactame</button>


        <button mat-button routerLink="acerca">Acerca de </button>
        <span class="spacer"></span>

        <button mat-button *ngIf="auth.IsAutenticado">Bienvenido {{auth.getUserName}}</button>

        <button mat-button *ngIf="auth.IsAutenticado" (click)="logOut()"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>

        <button mat-button *ngIf="!auth.IsAutenticado" routerLink="register">Registrarse</button>

        <button mat-button *ngIf="!auth.IsAutenticado" routerLink="login">Login</button>







    </mat-toolbar>


</div>