<div class="container1">
    <mat-toolbar color="primary">
        <button class="mibutton" mat-button *ngIf="auth.IsAutenticado" routerLink="/">App</button>
        <button class="mibutton" mat-button *ngIf="auth.IsAutenticado" routerLink="clientes">Clientes</button>
        <button class="mibutton" mat-button *ngIf="auth.IsAutenticado" routerLink="crear-cliente">Nuevo Cliente</button>
        <button class="mibutton" mat-button routerLink="contact">Contactame</button>
        <button class="mibutton" mat-button routerLink="acerca">Acerca de </button>
        <span class="mibutton" style="flex: 1 1 auto;"></span>
        <button class="mibutton" mat-button *ngIf="auth.IsAutenticado">Bienvenido {{auth.getUserName}}</button>
        <button class="mibutton" mat-button *ngIf="auth.IsAutenticado" (click)="logOut()">LogOut</button>
        <button class="mibutton" mat-button *ngIf="!auth.IsAutenticado" routerLink="register">Registrarse</button>
        <button class="mibutton" mat-button *ngIf="!auth.IsAutenticado" routerLink="login">Login</button>

    </mat-toolbar>
</div>