<mat-toolbar color="primary" class="mifooter">
    <span>
        <p>Aplicacion FrontEnd en Angular, BackEnd en netCore 6 EF</p>
    </span>
    <span class="span2">
        <p class="links">
            <a href="mailto:mchlaguilar051@gmail.com" target="_blank"><button mat-button>Gmail</button></a>
            <a href="https://www.linkedin.com/in/michael-aguilar-776170149/" target="_blank"><button mat-button>Linked</button> </a>
            <a href="https://github.com/michaelaguilar89" target="_blank"><button mat-icon-button color="Primary">GitHub</button></a>
            
        </p>
    
        
    </span>

</mat-toolbar>