<mat-toolbar color="primary" class="flex-container">


    <span>
        <div >
            <p >Aplicacion FrontEnd en Angular, BackEnd en netCore 6 EF</p>
        </div>
    </span>
    <div><a href="mailto:mchlaguilar051@gmail.com" target="_blank"><button  color="primary" mat-raised-button><i class="fa-regular fa-envelope"></i></button></a>
    </div>
    <div><a href="https://www.linkedin.com/in/michael-aguilar-776170149/" target="_blank"><button color="primary" mat-raised-button><i class="fa-brands fa-linkedin"></i></button></a>
    </div>
    <div> <a href="https://github.com/michaelaguilar89" target="_blank"><button color="primary" mat-raised-button><i class="fa-brands fa-github"></i></button></a>
    </div>








</mat-toolbar>