<div>

    <p class="principal">
        Hola
    </p>
    <p class="principal">
        Si deseas contactarme puedes escribirme un email
    </p>


    <form class="example-form" action="https://formsubmit.co/mchlaguilar051gmail.com">


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" name="Nombre" required matInput placeholder="Mi nombre aqui">
        </mat-form-field>
        <br>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Email</mat-label>
            <input type="text" name="Email" required matInput placeholder="Mi email aqui">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefono</mat-label>
            <input type="text" name="Telefono" required matInput placeholder="Mi telefono aqui">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Mensaje</mat-label>
            <textarea type="text-area" name="Mensaje" required matInput placeholder="Mi mensaje aqui"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit">Send</button>

    </form>





</div>