.container1 {
    margin: 10px 10px 10px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.example-full-width {
    width: 100%;
}

.principal {
    margin-top: 4%;
    margin-left: 28%;
    margin-bottom: 4%;
    position: auto;
}

.validation {
    margin-top: 10px;
}