<div class="container1">
    <h2>Acerca de este proyecto</h2>
    <p>
        Hola
    </p>
    <p>
        gracias por visitar mi pagina.
    </p>
    <p>
        Este es un proyecto Fullstack, para poder interactuar con la base de datos debes registrarte o loguearte.
    </p>
    <p>
        El backend esta construido en net core 6, se ha utilizado repositorios , interfaces, models, Dto's, mapping, Tokens, encriptacion para la seguridad, controladores que reciben solicitudes Json ,solicita los datos a la base sql alojado en un servidor en
        la nube y retorna la informacion al frontend .
        <br/> Se ha utilizado Visual Studio 2022 con net core 6 y sql server 2019 para la conexion a base de datos.
        <br/>El web api realiza un crud basico( create, read, update and delete), ademas un registro de nuevos usuarios y login de usuarios autenticados. La base de datos y el web api estan alojados en un servidor de somee.

    </p>

    <p>
        <br/>Haz <a href="https://github.com/michaelaguilar89/BackEnd_Clients">click aqui</a> para ver el codigo en github

    </p>

    <p>
        El FrontEnd esta construido en el FrameWork Angular , que utiliza Html 5, ccs , typescript para los componentes, realiza solicitudes atraves de HttpClientModule para mostrar los datos. Para este ervicio se ha utilizado un registro de nuevos usuarios y
        login para poder visualizar los datos, es decir si un usuario no se encuentra autenticado no va poder visualizar informacion o interacctuar con ella.
        <br/>Haz <a href="https://github.com/michaelaguilar89/FrontEnd_Clients-">click aqui</a> para ver el codigo en github.

    </p>
    <p>
        <br/> Tambien hay un pagina de contacto por email hacia mi persona como el desarrollador de la app.En esta pagina pones tus datos personales incluido tu email para que te llegue una copia del mensaje que me has enviado.

    </p>
    <p>
        Haz click <button mat-raised-button color="primary" (click)="sendEmail()">aqui</button> para enviarme un mensaje personal
    </p>
    <p>
        EL FrontEnd esta construido en Angular Material utilizando VS Code.
    </p>
    <h3>Net core</h3>
    <p>
        NET Core es un nuevo framework de código abierto y multiplataforma, creado y diseñado desde cero por Microsoft, para la creación de aplicaciones modernas y conectadas a internet que permite desarrollar y ejecutar aplicaciones en Windows, Mac y Linux.
    </p>
    <p>
        ASP.NET Core crea servicios basados en HTTP a los que se puede acceder desde diferentes aplicaciones y plataformas, como web, windows, móvil, etc. Con ASP.NET Core podemos compilar servicios y aplicaciones web, y back-ends móviles.
    </p>
    <p>
        Con ASP.NET Core la creación de servicios API REST es aún más sencillo y facilita la programación de escenarios centrados en páginas mediante un caso unificado para crear API web .
    </p>
    <h3>Angular</h3>
    <p>
        Angular es un framework opensource desarrollado por Google para facilitar la creación y programación de aplicaciones web de una sola página, las webs SPA (Single Page Application).
    </p>
    <p>
        En una web SPA aunque la velocidad de carga puede resultar un poco lenta la primera vez que se abre, navegar después es totalmente instantáneo, ya que se ha cargado toda la página de golpe.
    </p>
    <p>
        Solamente es una ruta la que se tiene que enviar el servidor, y Angular lo que hace ‘por debajo’ es cambiar la vista al navegar para que dé la apariencia de una web normal, pero de forma más dinámica.
    </p>
    <p>
        Entre otras ventajas, este framework es modular y escalable adaptándose a nuestras necesidades y al estar basado en el estándar de componentes web, y con un conjunto de interfaz de programación de aplicaciones (API) permite crear nuevas etiquetas HTML
        personalizadas que pueden reutilizarse.
    </p>
    <p>
        El lenguaje principal de programación de Angular es Typescript, y así toda la sintaxis y el modo de hacer las cosas en el código es el mismo, lo que añade coherencia y consistencia a la información, permitiendo por ejemplo, la incorporación de nuevos
        programadores, en caso de ser necesarios, ya que pueden continuar su trabajo sin excesiva dificultad.
    </p>
    <p>
        Como ya se ha indicado, las plantillas de Angular almacenan por separado el código de la interfaz del usuario (front-end) y el de la lógica de negocio (back-end), que entre otros beneficios permite utilizar mejor otras herramientas anteriormente existentes.
    </p>
    <p>
        Y por si fuera poco, los principales editores y entornos de desarrollo integrado (IDEs) ofrecen ya extensiones para poder trabajar con este framework con mayor comodidad.
    </p>


</div>